# Backend
backend/target/
backend/.idea/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.jar
backend/logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
